{
  "presets": ["es2015"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-async-to-generator",
    "transform-decorators-legacy",
    "transform-class-properties",
    "syntax-dynamic-import",
    "lodash",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ],
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ]
}
